

/* @font-face {
  font-family:AlibabaPuHuiTi-Bold;
  src:url('assets/font/AlibabaPuHuiTi-2-85-Bold.ttf')
}
@font-face {
  font-family:AlibabaPuHuiTi-Heavy;
  src:url('assets/font/AlibabaPuHuiTi-2-105-Heavy.ttf')
}
@font-face {
  font-family:AlibabaPuHuiTi-Regular;
  src:url('assets/font/AlibabaPuHuiTi-2-55-Regular.ttf')
} */